<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark borderBottom-dark box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">eCode <span style="color: #44BD32;">Dev</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1 justify-content-end align-items-center">
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">&rsaquo; Início</a>
                    </li>          
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="">&rsaquo; Entrar</a>
                    </li>
                </ul>
                <div style="margin-left: 1.8rem;">
                    <button class="btn btn-light" style="color: #44BD32 !important" name="btnCadastrar" id="btnCadastrar">Cadastrar</button>
                </div>
            </div>
        </div>
    </nav>
</header>