@{
    var cookieLogado = Context.Request.Cookies["Cliente"];
    var cookiePerfil = Context.Request.Cookies["Perfil"];
    var cookieId = Context.Request.Cookies["Id"];
}

@if (cookieLogado != null)
{
    @if (TempData["Sucess"] != null)
    {
        <p class="alert-success">
            <span style="font-size: 1.2rem;">Sucesso!</span><br />
            <span class="text-dark">
                @TempData["Sucess"]
            </span>
            <br /><br />
        </p>
    }

    <section class="text-light">
        Ola
    </section>    
}