<h1 style="color: #4ca541;">Escolha um Plano de Assinatura</h1>
    
<div class="container plan-container">
    <div class="plano">
        <h2>Plano Básico</h2>
        <p>&#9989; Desafios Ilimitados</p>
        <p>&#9989; Acesso por 3 meses</p>
        <p>&#9989; Suporte Básico (SLA de 3 dias)</p>
        <p>&#10060; Sem acesso à pontuação</p>
        <p>&#10060; Sem acesso ao ranking</p>
        <p id="valor">Valor: R$ 9,90</p>
        <a class="btn-escolher-plano" href="~/pagamentos?plan=b" target="_self">Escolher Plano</a>
    </div>

    <div class="plano">
        <h2>Plano Médio</h2>
        <p>&#9989; Desafios Ilimitados</p>
        <p>&#9989; Acesso por 6 meses</p>
        <p>&#9989; Suporte Avançado (SLA de 3 dias)</p>
        <p>&#9989; Acesso à pontuação</p>
        <p>&#10060; Sem acesso ao ranking</p>
        <p id="valor">Valor: R$ 19,90</p>
        <a class="btn-escolher-plano" href="~/pagamentos?plan=m" target="_self">Escolher Plano</a>
    </div>

    <div class="plano">
        <h2>Plano Premium</h2>
        <p>&#9989; Desafios Ilimitados</p>
        <p>&#9989; Acesso por 12 meses</p>
        <p>&#9989; Suporte Avançado (SLA de 1 hora)</p>
        <p>&#9989; Acesso à pontuação</p>
        <p>&#9989; Acesso ao ranking</p>
        <p id="valor">Valor: R$ 27,90</p>
        <a class="btn-escolher-plano" href="~/pagamentos?plan=p" target="_self">Escolher Plano</a>
    </div>
</div>