<article class="d-flex flex-column justify-content-between align-items-center">
    <div class="img-fluid">
        <img src="~/img/icons/programador1.svg" alt="personagem codificando" />
    </div>
    <div>
        <h3>
            Desenvolva suas habilidades com diversos projetos.
        </h3>
        <p>
            Front-end, Back-end, Mobile, Full-stack
        </p>
    </div>
</article>
<article>
    <div>

    </div>
</article>