<section class="text-center">
    @Html.Partial("_Informativo");

    <div style="clear: both; height: 40px;"></div>

    @Html.Partial("_Desafios")

    <div style="clear: both; height: 40px;"></div>

    @Html.Partial("_Assinatura")
</section>