html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }

    .form-container {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .form-container {
        width: 80%;
    }

    .form-cadastro {
        width: 80%;
    }
}

@media (max-width: 367px) {
    .container-cards {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)) !important;
    }
}

html {
    position: relative;
    min-height: 100%;
}

.borderBottom-dark {
    border-bottom: 1px solid #1E1E1E;
}

.borderTop-dark {
    border-top: 1px solid #1E1E1E;
}

p {
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
}

body {
    margin-bottom: 60px;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: #44BD32;
    color: white;
}

.btnEntrar {
    background-color: #44BD32;
    color: #fff;
}

.btnLogout {
    background-color: #eb4d4b;
    color: #fff;
}

.container-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    width: 100%;
    gap: 0.8rem;
    margin-bottom: 32px;
}

.cards-desafio {
    text-decoration: none;
    background: #f9f9f9;
    border-radius: 8px;
    padding: 1.2rem;
}

.cards-desafio:hover {
    transition: 200ms all;
    border: 1px solid #44BD32;
    border-radius: 8px;
}

.cards-item__img {
    width: 100%;
    text-align: center;
    margin: 0 0 0.6rem;
    height: 200px;
}

.cards-item__img img {
    width: 100%;
    object-fit: cover;
}

.cards-item__info h4 {
    color: #333;
    font-size: 1.4rem;
}

.cards-item__info p {
    color: #333;
    font-size: .8rem;
    text-align: justify;
}

.btnEntrar:hover, .btnEntrar:focus {
    transition: all 200ms;
    background-color: transparent;
    color: #44BD32;
    border: 1px solid #44BD32;
}

.btnLogout:hover, .btnLogout:focus {
    transition: all 200ms;
    background-color: transparent;
    color: #eb4d4b;
    border: 1px solid #eb4d4b;
}

.form {
    width: 100%;
}

.form-container {
    width: 80%;
    max-width: 500px;
    padding: 24px;
    margin: 1.5rem auto 1rem;
    text-align: center;
    border: 1px solid #44BD32;
    border-radius: 4px;
}

.form-cadastro {
    width: 80%;
    max-width: 500px;
    padding: 24px;
    margin: 1.5rem auto 1rem;
    text-align: center;
    border: 1px solid #44BD32;
    border-radius: 4px;
}

.form-container h1, .form-cadastro h1 {
    margin-bottom: 0px !important;
}

.form-container p, .form-cadastro p {
    margin: 0 0 1.2rem;
}

.form-items-container {
    width: 80%;
    margin: 1rem auto 0px;
}

.form-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(215px, 1fr));
    align-items: center;
    justify-content: center;
}

.form-items-cadastro {
    display: grid;
    align-items: center;
    justify-items: left;
}

.form-items:first-child {
    margin-bottom: 1.2rem;
}

.form-items-cadastro:last-child {
    margin-bottom: 1.2rem;
}

.form-items label, .form-items-cadastro label {
    margin: 1rem 0 0;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: left;
}

.form-items input {
    outline-width: 1px;
    outline-color: #44BD32;
    width: 100%;

    padding: 8px 12px;
    border-radius: 4px;
    border: none;
    color: #333;
}

.form-items-cadastro select {
    outline-width: 1px;
    outline-color: #44BD32;
    width: 100%;
    padding: 8px 12px;
    border-radius: 4px;
    border: none;
    color: #333;
}

.form-items-cadastro input {
    outline-width: 1px;
    outline-color: #44BD32;
    width: 100%;
    padding: 8px 12px;
    border-radius: 4px;
    border: none;
    color: #333;
}

.linksCadastro {
    width: 80%;
    margin: .8rem auto 2rem;
}

.linkCadastrar {
    color: white;
}

.linkCadastrar:hover, .linkCadastrar:hover {
    color: #44BD32;
    transition: all 200ms;
}

.btn-sucesso {
    border: 1px solid #44BD32;
    color: #44BD32;
    padding: 8px 32px;
    width: 80%;
    margin: 1.2rem auto 0;
    border-radius: 1rem !important;
}

.btn-sucesso:hover, .btn-sucesso:focus {
    transition: all 200ms;
    color: #44BD32;
    border: 1px solid #1ee101;
    box-shadow: 4px 5px 7px -2px rgb(32 105 21 / 77%);
}

.alert-danger {
    border-radius: 4px;
    padding: 12px;
}

.alert-success {
    border-radius: 4px;
    padding: 12px;
}